fastapi
uvicorn
numpy
python-multipart
openai
python-dotenv
scikit-learn # for tsne
faiss-cpu # for vector db
#google-generativeai # gemini 2, deprecated
google-genai # gemini 2
#openai-whisper
#ffmpeg-python